.root {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 1rem;
  background-color: #fafafa;
  display: flex;
  .tab {
    font-size: 0.28rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .icon {
      width: 0.6rem;
      height: 0.6rem;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}
